@import "utils";
@import "./options.scss";

.block-4 {
  &__container {
    display: flex;
    padding: 40px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
    @include onDesktop {
      padding: 75px 0;
      flex-direction: row;
      gap: 121px;
      justify-content: space-between;
    }
  }

  &__services {
    @include onDesktop {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 40px;
      align-self: stretch;
      width: 100%;
    }
  }

  &__h2 {
    color: $c-h1;
    @extend %h1;
    font-size: 24px;

    @include onDesktop {
      font-size: 32px;
    }

    & span {
      position: relative;
      text-wrap: nowrap;

    }

    & span::before {
      @extend %borderBot;
      right: -2px;
    }
  }

  &__propositions {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    @include onDesktop {
      flex-direction: row;
      gap: 24px;
    }
  }

  &__traffic_source {
    display: flex;
    width: 100%;
    padding: 16px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 10px;
    background: $c-purple;

    @include onDesktop {
      padding: 24px;
    }

    &_title {
      @extend %h1;
      color: $c-white;
      font-size: 18px;

      @include onDesktop {
        font-size: 24px;
      }
    }
  }

  &__geo-pay {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;

    @include onDesktop {
      flex-direction: column;
      gap: 24px;
    }

    &_container {
      display: flex;
      flex-grow: 1;
      width: 100%;
      height: 127px;
      padding: 16px 24px;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      background: $c-yellow;

      @include onDesktop {
        gap: 24px;
        justify-content: center;

        & .options {
          flex-direction: row;
          justify-content: space-around;
          // gap: 24px;
        }
      }
    }

    &_title {
      @extend %h1;
      color: $c-white;
      font-size: 18px;

      @include onDesktop {
        font-size: 24px;
      }
    }
  }

  &__figure {
    justify-content: center;
    display: flex;

    & img {
      width: 285px;
      height: 285px;

      @include onDesktop {
        width: 461px;
        height: 461px;
      }
    }
  }
}
