@import "utils";

.block-5 {
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    justify-content: center;
    padding: 40px 16px;

    @include onDesktop {
      padding: 64px 0 96px;
      width: 100%;
    }
  }

  &__signUp {
    display: flex;
    padding: 44px 0;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 15px;
    background: $c-purple;
    z-index: -2;
    width: 100%;
  }

  &__text {
    display: flex;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  &__body {
    width: 194px;
    color: $c-white;
    text-align: center;
    @extend %text;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 150%; /* 24px */

    @include onDesktop {
      width: 100%;
    }
  }
  
  &__h1 {
    @extend %h1;
    color: $c-white;
    font-size: 28px;
    text-align: center;

    @include onDesktop {
      font-size: 44px;
    }

    & span {
      position: relative;
      text-wrap: nowrap;
    }

    & span::before {
      @extend %borderBot;
      right: -6px;
    }

    & .s-2::before {
      right: 1px;
    }
  }

  &__button {
    display: flex;
    width: 170px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: $c-yellow;
    color: $c-white;
    font-weight: 600;
    border: none;
    @extend %text;
    cursor: pointer;

    &:hover {
      background: $c-white;
      color: $c-purple;
      transition: all $transition-time ease;
    }
  }
}
