@import "utils";
@import "./cards.scss";

.block-2 {
  &__container {
    display: flex;
    padding: 40px 16px;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    @include onDesktop {
      padding: 75px 0;
      flex-direction: row;
      align-items: flex-start;
      gap: 121px;
    }
  }

  &__partners {
    gap: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include onDesktop {
      padding: 40px 0;
    }
  }

  &__h2 {
    color: $c-h1;
    font-size: 24px;
    @extend %h1;

    @include onDesktop {
      font-size: 32px;
    }

    & span {
      position: relative;
      text-wrap: nowrap;
    }

    & span::before {
      @extend %borderBot;
      right: -3px;
    }
  }

  &__figure {
    justify-content: center;
    display: flex;

    & img {
      width: 285px;
      height: 285px;

      @include onDesktop {
        width: 461px;
        height: 461px;
      }
    }
  }
}
