.cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
  list-style: none;

  @include onDesktop {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  &_item {
    display: flex;
    width: 100%;
    padding: 28px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $bg-partners;
    border-radius: 10px;

    &:first-child {
      margin: 0 145px;
    }

    @include onDesktop {
      width: 267px;
      height: 130px;
    }
  }
}
