@import "utils";
@import ".//header/header.scss";
@import "./weBuyTraffic/we_buy_traffic.scss";
@import "blocks";
@import "./footer/footer.scss";

html {
  scroll-behavior: smooth;
}

body {
  background: $c-background;
  background-image: url("../images/background-img.png");
  background-size: 100% 1004px;
  background-repeat: no-repeat;
  overflow: hidden;
}

[class*="__container"] {
  margin: 0 auto;
  max-width: 1140px;

  @media (max-width: 1139px) {
    max-width: 100%;
  }
}
