@import "utils";

.ribbon {
  position: absolute;
  height: 43px;
  background-image: url("../images/row-2.png");
  background-position: 0 0;
  // background-size: cover;
  background-repeat: repeat-x;
  background-origin: content-box;
  padding: 7px 0;
  width: 250%;
  animation: ribbon 15s linear infinite;
  top: -20px;

  @include onDesktop {
    animation: ribbon 20s linear infinite;
  }

  &--purple {
    background-color: $c-purple;
    transform: rotate(-8deg);
    left: -10px;

    @include onDesktop {
      transform: rotate(-5deg);
      left: -5%;
    }
  }

  &--yellow {
    background-color: $c-yellow;
    animation: ribbon-rev 15s linear infinite;
    transform: rotate(8deg);
    z-index: -1;
    right: -10px;

    @include onDesktop {
      transform: rotate(5deg);
      right: -5%;
      animation: ribbon-rev 20s linear infinite;
    }
  }
}

@keyframes ribbon {
  0% {
    background-position: 0 bottom;
  }
  100% {
    background-position: 100% bottom;
  }
}

@keyframes ribbon-rev {
  0% {
    background-position: 100% bottom;
  }
  100% {
    background-position: 0 bottom;
  }
}
