@import "./ribbon.scss";

.we-buy-traffic {
  &__ribon-container {
    padding: 13px 0;
    overflow: hidden;

    @include onDesktop {
      overflow: visible;
    }
  }

  &__ribbon {
    position: relative;
    height: 109px;
  }
}
