$c-gray: #eee;
$c-background: #fdfcfc;
$c-menu-background: #fff;
$c-text: #585858;
$transition-time: 0.3s;
$c-signUp: #7f3a6a;
$c-signUp-text: #fff;
$c-hover: #e9a923;
$c-h1: #313131;
$c-purple: #7f3a6a;
$c-yellow: #e9a923;
$bg-partners: #f1e9ee;
$c-white: #fff;
$bg-footer: #f9f1ee;
