@import "utils";

.block-3 {
  &__container {
    display: flex;
    padding: 40px 16px;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    @include onDesktop {
      padding: 60px 0;
    }
  }

  &__h2 {
    color: $c-h1;
    @extend %h1;
    font-size: 24px;

    @include onDesktop {
      font-size: 32px;
    }

    & span {
      position: relative;
      text-wrap: nowrap;
    }

    & span::before {
      @extend %borderBot;
      right: -2px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    @include onDesktop {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 170px;
    }

    &-top {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }

    &-title {
      font-size: 18px;
      @extend %h1;
      align-self: stretch;

      @include onDesktop {
        font-size: 24px;
      }
    }

    &_p {
      @extend %text;
      color: $c-text;

      font-weight: 400;
      text-align: left;
      text-transform: none;
      font-size: 16px;
      line-height: 150%; /* 24px */
    }
  }
}
