@import "../navbar/navbar.scss";
@import "./logo.scss";

.header {
  @include onDesktop {
    display: flex;
    justify-content: center;
  }

  &__container {
    display: flex;
    width: 100%;
    height: 84px;
    padding: 0 16px;
    justify-content: space-between;
    align-items: center;
    
    @include onDesktop {
      width: 1140px;
      padding: 0;
    }
  }

  &__burger-button {
    background-image: url("../images/burger_menu.svg");
    background-color: transparent;
    width: 24px;
    height: 16px;
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;

    @include onDesktop {
      display: none;
    }
  }

  &__navbar {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: $c-menu-background;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    transform: translateY(-100%);
    transition: transform $transition-time ease;

    @include onDesktop {
      flex-direction: row;
      position: relative;
      align-items: center;
      gap: 64px;
      background: none;
      transform: translateY(0);
      justify-content: flex-end;
    }
  }
}
